* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

li {
  list-style: none;
}

.todoList-container {
  min-height: 100vh;
  width: 100%;
  padding: 10px;
  background-color: #fafafa;
}

.todoList {
  margin: 100px auto 40px;
  background: #fff;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(234, 234, 234);
  padding: 20px;
}

.todoList h1 {
  font-size: 1.5rem;
  color: #1a1a1a;
  padding: 30px 30px 15px 30px;
}

.row {
  background-color: rgb(247, 247, 247);
  margin: 0px 30px 30px 30px;
  border-radius: 30px;
  display: flex;
  border: 1px solid transparent;
}

.row:focus-within {
  box-shadow: 0px 0px 0px 1px rgb(127, 255, 0, 0.5);
  border: 1px solid #7fff00;
}

.task-input {
  background-color: rgb(247, 247, 247);
  border-radius: 30px;
  height: 50px;
  padding: 20px;
  outline: none;
  border: none;
  flex: 1;
  font-size: 1rem;
}

.task-input::placeholder {
  font-size: 1rem;
}

.row button {
  justify-content: end;
  width: 80px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #7fff00;
  font-size: 1rem;
  cursor: pointer;
}

.row button:hover {
  background-color: #6fe000;
}

.tasks {
  margin: 0px 30px 30px 30px;
}

.tasks li {
  padding: 15px 10px 15px 50px;
  position: relative;
  margin: 10px 0px;
  background-color: rgb(247, 247, 247, 0.2);
  border: 1px solid rgb(247, 247, 247);
  border-radius: 10px;
  color: #1a1a1a;
  font-size: 1rem;
  user-select: none;
}

.tasks li:hover {
  background: rgb(247, 247, 247);
  cursor: pointer;
}

.tasks li::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  background-image: url(./imgs/Uncomplete.png);
  background-size: cover;
}

.tasks li .task-text {
  display: inline-block;
  max-width: 10ch;
  word-break: break-word;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: darkgray;
  border-radius: 50%;
}

.delete-btn:hover {
  color: rgb(220, 20, 60);
  background-color: rgb(255, 170, 170);
  cursor: pointer;
}

li {
  /* border: 1px solid black; */
}

.completed .task-text {
  text-decoration: line-through;
}
li.completed::before {
  background-image: url(./imgs/Complete.png);
  width: 25px;
  height: 25px;
}
